
images/0 original.png
images/1 cv.resized.png
images/1 resized.png
images/testingImage.png
images/testingmask.png
images/usedMask.png
images/output.png
images/maskedRegions.png
images/masked.png
images/input.png
images/5.png
images/4.png
images/3.png
images/2.png
images/1.png
images/0.png
