adduser
apt
apt-listchanges
apt-utils
avahi-daemon
base-files
base-passwd
bash
bash-completion
bsdutils
build-essential
ca-certificates
cifs-utils
cmake
console-setup
coreutils
cpio
crda
cron
curl
dash
debconf
debconf-i18n
debconf-utils
debian-archive-keyring
debianutils
dhcpcd5
diffutils
dmidecode
dmsetup
dosfstools
dphys-swapfile
dpkg
e2fsprogs
ed
ethtool
fake-hwclock
fbset
fdisk
ffmpeg
file
findutils
firmware-atheros
firmware-brcm80211
firmware-libertas
firmware-misc-nonfree
firmware-realtek
gcc-10-base
gcc-9-base
gdb
gfortran
git
gpgv
grep
gzip
hardlink
hostname
htop
ifupdown
init
init-system-helpers
iproute2
iputils-ping
isc-dhcp-client
isc-dhcp-common
keyboard-configuration
kmod
kms++-utils
less
libacl1
libapparmor1
libapt-pkg6.0
libargon2-1
libatlas-base-dev
libattr1
libaudit-common
libaudit1
libavcodec-dev
libavformat-dev
libblkid1
libbpf0
libbsd0
libbz2-1.0
libc-bin
libc6
libcairo2-dev
libcamera-apps-lite
libcap-dev
libcap-ng0
libcap2
libcap2-bin
libcom-err2
libcrypt1
libcryptsetup12
libdb5.3
libdebconfclient0
libdevmapper1.02.1
libdns-export1110
libedit2
libelf1
libestr0
libext2fs2
libfastjson4
libfdisk1
libffi7
libfontconfig1-dev
libfreetype6-dev
libgcc-s1
libgcrypt20
libgdk-pixbuf2.0-dev
libgmp10
libgnutls30
libgpg-error0
libgssapi-krb5-2
libgtk-3-dev
libgtk2.0-dev
libhdf5-103
libhdf5-dev
libhogweed6
libidn2-0
libip4tc2
libisc-export1105
libjansson4
libjpeg-dev
libjson-c5
libk5crypto3
libkeyutils1
libkmod2
libkrb5-3
libkrb5support0
liblocale-gettext-perl
liblognorm5
liblz4-1
liblzma5
libmd0
libmnl0
libmount1
libmtp-runtime
libncurses6
libncursesw6
libnettle8
libnewt0.52
libnftables1
libnftnl11
libnsl2
libopenblas-dev
libopenjp2-7
libp11-kit0
libpam-chksshpwd
libpam-modules
libpam-modules-bin
libpam-runtime
libpam0g
libpango1.0-dev
libpcre2-8-0
libpcre3
libpng-dev
libpopt0
libprocps8
libraspberrypi-bin
libraspberrypi-dev
libraspberrypi-doc
libraspberrypi0
libreadline8
libseccomp2
libselinux1
libsemanage-common
libsemanage1
libsepol1
libslang2
libsmartcols1
libss2
libssl1.1
libstdc++6
libswscale-dev
libsystemd0
libtasn1-6
libtext-charwidth-perl
libtext-iconv-perl
libtext-wrapi18n-perl
libtiff5-dev
libtinfo6
libtirpc-common
libtirpc3
libudev1
libunistring2
libuuid1
libv4l-dev
libx264-dev
libxtables12
libxvidcore-dev
libxxhash0
libzstd1
locales
login
logrotate
logsave
lsb-base
lua5.1
luajit
man-db
manpages-dev
mawk
mkvtoolnix
mount
nano
ncdu
ncurses-base
ncurses-bin
net-tools
netbase
network-manager
nfs-common
nftables
ntfs-3g
openssl
p7zip-full
parted
passwd
pciutils
perl-base
pi-bluetooth
pkg-config
policykit-1
procps
psmisc
python-is-python3
python3-dev
python3-gpiozero
python3-kms++
python3-libcamera
python3-picamera2
python3-prctl
python3-pyqt5
python3-rpi.gpio
python3-venv
raspberrypi-archive-keyring
raspberrypi-bootloader
raspberrypi-kernel
raspberrypi-net-mods
raspberrypi-sys-mods
raspi-config
raspinfo
readline-common
rng-tools
rpi-eeprom
rpi-update
rsync
rsyslog
sed
sensible-utils
ssh
ssh-import-id
strace
sudo
systemd
systemd-sysv
systemd-timesyncd
sysvinit-utils
tar
tasksel
tasksel-data
tmux
tzdata
udev
udisks2
unzip
usb-modeswitch
usbutils
userconf-pi
util-linux
v4l-utils
vim
vim-common
vim-tiny
whiptail
wireless-tools
wpasupplicant
xxd
zip
zlib1g
